bin/
phpstorm-subs-fork/
crashdumps/
log_archive/
players/
plugin_data/
resource_packs/
vendor/
worlds/
/.idea/
.php-cs-fixer.cache
*.txt
LICENSE
plugin_list.yml
pocketmine.yml
server.log
server.properties
server.lock
white-list.txt